/* --------------------------- BASE -------------------------- */

@forward "1-base/variables";
@forward "1-base/reset";

/* ----------------------- MIXINS ----------------------- */

@forward "2-mixins/mixins";
@forward "2-mixins/breakPoints";

/* ----------------------- LAYOUT ----------------------- */

@forward "3-components/preload";
@forward "3-components/buttons";
@forward "3-components/containers";
@forward "3-components/footer";
@forward "3-components/header";
@forward "3-components/logo";
@forward "3-components/cards-study";
@forward "3-components/modal";
@forward "3-components/timeline";
@forward "3-components/other";

/* ---------------------- DARK-MODE --------------------- */

@forward "4-dark-mode/dark-mode";

/* ------------------------ PAGES ----------------------- */

@forward "5-pages/home";
