@mixin animation-road-map-text($top-t, $bottom-b) {
    position: absolute;
    top: $top-t;
    bottom: $bottom-b;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    pointer-events: none;
    width: max-content;
    opacity: 0; // ocultar textos
    z-index: 1;
    h2 {
        font-size: 28.8px;
        margin: 0;
    }
    p {
        font-size: 16px;
    }
}

@mixin transform-center {
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.animation-year-header {
    position: absolute;
    left: 0;
    z-index: 1;
    transform: translate(12.2%, 70%);
    -webkit-transform: translate(12.2%, 70%);
    -moz-transform: translate(12.2%, 70%);
    -ms-transform: translate(12.2%, 70%);
    -o-transform: translate(12.2%, 70%);
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}

.animation-year-body {
    position: absolute;
    bottom: 14px;
    left: 0;
    z-index: 1;
    transform: translate(12.2%) scaleY(.4);
    -webkit-transform: translate(12.2%) scaleY(.4);
    -moz-transform: translate(12.2%) scaleY(.4);
    -ms-transform: translate(12.2%) scaleY(.4);
    -o-transform: translate(12.2%) scaleY(.4);
    transform-origin: bottom;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}

.animation-year-base {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.animation-year-text-top {
    @include animation-road-map-text(-60%, auto)
}

.animation-year-text-bottom {
    @include animation-road-map-text( auto, -55%)
}

.animation-year-init:hover {
    .animation-year-text-top {
        opacity: 1;
    }
    .animation-year-text-bottom {
        opacity: 1;
    }
    .animation {
        .animation-year-header {
            transform: translate(12.2%, 0%);
            -webkit-transform: translate(12.2%, 0%);
            -moz-transform: translate(12.2%, 0%);
            -ms-transform: translate(12.2%, 0%);
            -o-transform: translate(12.2%, 0%);
        }
        .animation-year-body {
            transform: translate(12.2%) scaleY(1);
            -webkit-transform: translate(12.2%) scaleY(1);
            -moz-transform: translate(12.2%) scaleY(1);
            -ms-transform: translate(12.2%) scaleY(1);
            -o-transform: translate(12.2%) scaleY(1);
        }
    }
}

.linea-svg {
    position: absolute;
    left: 0;
    top: 0;
    @include transform-center;
}

.linea-svg-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    @include transform-center;
}

.item-grid {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.svg-animation-time-line {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 102px);
    grid-template-rows: repeat(5, 73px);
    z-index: 0;
    .bg-small-svg {
        display: none;
        user-select: none;
    }
    .item-2018 {
        grid-column: 1/3;
        grid-row: 2/5;
        .nodo_2018 {
            position: absolute;
            width: 149.15px;
            height: 133.8px;
        }
    }
    .item-2019 {
        grid-column: 3/5;
        grid-row: 2/5;
        .nodo_2019 {
            position: absolute;
            width: 156.1px;
            height: 140.03px;
            bottom: 0;
        }
    }
    .item-2020 {
        grid-column: 5/7;
        grid-row: 2/5;
        .nodo_2020 {
            position: absolute;
            width: 157.73px;
            height: 141.43px;
        }
    }
    .item-2021 {
        grid-column: 7/9;
        grid-row: 2/5;
        .nodo_2021 {
            position: absolute;
            width: 147.64px;
            height: 132.38px;
            bottom: 0;
        }
    }
    .item-2022 {
        grid-column: 9/11;
        grid-row: 2/5;
        .nodo_2022 {
            position: absolute;
            width: 136px;
            height: 121.97px;
        }
    }
    .item-2023 {
        grid-column: 11/13;
        grid-row: 2/5;
        .nodo_2023 {
            position: absolute;
            width: 149.15px;
            height: 133.81px;
            bottom: 0;
        }
    }
}


/* --------------------- RESPONSIVE --------------------- */

@media screen and (max-width:1300px) {
    .svg-animation-time-line {
        transform: scale(.8);
    }
}

@media screen and (max-width:1000px) {
    .svg-animation-time-line {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        grid-template-columns: repeat(6, 102px);
        grid-template-rows: repeat(10, 73px);
        .item-2021 {
            grid-column: 1/3;
            grid-row: 7/10;
        }
        .item-2022 {
            grid-column: 3/5;
            grid-row: 7/10;
        }
        .item-2023 {
            grid-column: 5/7;
            grid-row: 7/10;
        }
    }
}

@media screen and (max-width:660px) {
    .svg-animation-time-line {
        grid-template-columns: repeat(4, 102px);
        grid-template-rows: repeat(17, 73px);
        .item-2018 {
            grid-column: 1/3;
            grid-row: 3/6;
        }
        .item-2019 {
            grid-column: 3/5;
            grid-row: 3/6;
        }
        .item-2020 {
            grid-column: 1/3;
            grid-row: 8/11;
        }
        .item-2021 {
            grid-column: 3/5;
            grid-row: 8/11;
        }
        .item-2022 {
            grid-column: 1/3;
            grid-row: 13/16;
        }
        .item-2023 {
            grid-column: 3/5;
            grid-row: 13/16;
        }
    }
}

@media screen and (max-width:500px) {
    .svg-animation-time-line {
        grid-template-columns: repeat(2, 160px);
        grid-template-rows: repeat(32, 40px);
        .linea-svg-bottom,
        .linea-svg {
            display: none;
        }
        .bg-small-svg {
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            width: 100%;
            position: absolute;
            grid-row: 2/7;
            grid-column: 1/3;
            display: block;
            top: -20px;
            img {
                height: 100%;
            }
        }
        .item-2018 {
            grid-column: 1/3;
            grid-row: 1/4;
        }
        .item-2019 {
            grid-column: 1/3;
            grid-row: 7/10;
        }
        .item-2020 {
            grid-column: 1/3;
            grid-row: 12/15;
        }
        .item-2021 {
            grid-column: 1/3;
            grid-row: 17/21;
        }
        .item-2022 {
            grid-column: 1/3;
            grid-row: 23/26;
        }
        .item-2023 {
            grid-column: 1/3;
            grid-row: 29/30;
        }
    }
    .animation-year-text-top,
    .animation-year-text-bottom {
        top: auto;
        bottom: auto;
        padding: .5rem;
        border-radius: $borde-radius-medium;
        -webkit-border-radius: $borde-radius-medium;
        -moz-border-radius: $borde-radius-medium;
        -ms-border-radius: $borde-radius-medium;
        -o-border-radius: $borde-radius-medium;
        max-width: 180px !important;
        text-align: center;
    }
    .item-grid:nth-child(even) {
        left: 25%;
        .animation-year-text-top {
            background: #32d9af;
            right: 80px;
        }
    }
    .item-grid:nth-child(odd) {
        left: -25%;
        .animation-year-text-bottom {
            background: #008489;
            bottom: auto;
            left: 80px;
        }
    }
    .item-grid:nth-last-child(1) {
        .animation-year-text-bottom {
            bottom: -100px;
            min-width: 300px;
            transform: translate(-50%);
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -ms-transform: translate(-50%);
            -o-transform: translate(-50%);
        }
    }
}