@use "../1-base/variables" as var;
@use "../2-mixins/base-buttons" as btn;
.btn-evulus {
    @include btn.btn-personalizado(var.$color-btn, 0px 37px, 1.5rem);
    box-shadow: 0px 0px 2rem var.$color-btn;
    &:hover {
        box-shadow: 0px 0px 3rem var.$color-btn;
        color: var.$color_black;
    }
    &:active {
        box-shadow: 0px 0px 3.5rem var.$color-btn !important;
        color: var.$color_black !important;
    }
    &:focus {
        box-shadow: 0px 0px 3.5rem var.$color-btn !important;
        color: var.$color_black !important;
    }
}

.btn-evulus-medium {
    @include btn.btn-personalizado(var.$color-btn, 15px 20px, 1rem);
    border: 3px solid var.$color-btn;
    &:hover {
        background: #e0a800;
        color: var.$color_black !important;
        text-decoration: none !important;
    }
    &:active {
        background: #d39e00;
    }
}

.btn-evulus-small {
    @include btn.btn-personalizado(var.$color-btn, 0.5rem, 1rem);
    margin: 0;
    border: 2px solid var.$color-btn;
    &:hover {
        background: #e0a800;
        color: var.$color_black !important;
        text-decoration: none !important;
        border: 2px solid #e0a800;
    }
    &:active {
        background: #d39e00;
    }
}

/* ------------------ BTN EVULUS WHITE ------------------ */

.btn-evulus-white {
    @include btn.btn-personalizado(var.$color_white, 5px 28px, 33px);
    color: var.$color_primary;
    border-radius: 30px;
    box-shadow: 0px 0px 2rem var.$color-btn;
    text-transform: uppercase;
    white-space: nowrap;
    &:hover {
        box-shadow: 0px 0px 3rem var.$color-btn;
        color: var.$color_primary;
    }
    &:active {
        color: var.$color_primary-dark !important;
        box-shadow: 0px 0px 3.5rem var.$color-btn !important;
    }
    &:focus {
        color: var.$color_primary-dark !important;
        box-shadow: 0px 0px 3.5rem var.$color-btn !important;
    }
}

.btn-green {
    @include btn.btn-personalizado(var.$color_primary, 12px 30px, 33px);
    box-shadow: 0px 0px 2rem white;
    border-radius: 40px;
    color: var.$color_white;
    &:hover {
        box-shadow: 0px 0px 3rem var.$color_white;
        color: var.$color_white;
    }
    &:active {
        box-shadow: 0px 0px 3.5rem var.$color_white !important;
        color: var.$color_white !important;
    }
    &:focus {
        box-shadow: 0px 0px 3.5rem var.$color_white !important;
        color: var.$color_white !important;
    }
}

.btn-green--normal {
    @include btn.btn-personalizado(var.$color_white, 9px 40px, 36px);
    border: 3px solid var.$color_primary;
    color: var.$color_primary;
    &:hover {
        background: var.$color_primary;
        color: var.$color_white;
    }
    &.active {
        background: var.$color_primary;
        color: var.$color_white;
    }
}

/* --------------------- BUTTON TOP --------------------- */

.go-top {
    background: var.$color_primary;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: var.$color_white;
    box-shadow: var.$box-shadow-terciario;
    text-decoration: none;
    pointer-events: none;
    transition: map-get(var.$transition, fast);
    -webkit-transition: map-get(var.$transition, fast);
    -moz-transition: map-get(var.$transition, fast);
    -ms-transition: map-get(var.$transition, fast);
    -o-transition: map-get(var.$transition, fast);

    opacity: 0;
    &:hover {
        color: var.$color_white;
        transform: scale(1.1);
    }
}

.go-top.active {
    opacity: 1;
    bottom: 32px;
    pointer-events: auto;
}

/* -------------------- BTN-DOWNLOAD -------------------- */

.btn-down-white {
    font-size: 12px;
    font-weight: 700;
    height: fit-content;
    margin: 10px;
    padding: 5px 0.5rem;
    color: var.$color_black;
    border: 2px solid #eee;
    background: #eee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    &:hover {
        background: #a7a9ac;
        color: var.$color_black;
    }
    img {
        vertical-align: text-top;
    }
}

/* ------------------------------------------ BUTTONS-SECCION-EVULUS-TOKENS ----------------------------------------- */

.btn-white-tall {
    @include btn.btn-white(300px, 2rem, 10px);
    height: 136px;
}

.btn-white-medium {
    @include btn.btn-white(220px, 0.5rem 1rem, 5px);
    img {
        width: 100%;
        height: 100%;
    }
}

.btn-evulus-token {
    @extend .btn-evulus;
    font-size: 22px;
    padding: 14px 30px;
}

/* -------------------- BTN-ACADEMIA -------------------- */

.btn-evulus-academia {
    @include btn.btn-personalizado(var.$color-btn, 6px 52px, 37.98px);
    border-radius: 30px;
    font-weight: 800;
    box-shadow: var.$box-shadow-primario;
    &:hover {
        background: #e0a800;
        color: var.$color_black !important;
        text-decoration: none !important;
    }
    &:active {
        background: #d39e00;
    }
}

/* -------------------- BTN-ACCOUNTS Y FORMULARIOS -------------------- */
.btn-pay {
    width: 100%;
    margin: 0 auto;
    background-color: var.$color_primary;
    padding: 19px 0px;
    border-radius: 5px;
    color: var.$color_white;
    font-weight: bold;
    transition: map-get(var.$transition, fast);
    &:hover {
        background-color: var.$color-primary-dark;
    }
}

.account-google,
.account-facebook {
    @include btn.btn-personalizado(auto, 16px 0px, auto);
    color: var.$color_white;
    max-width: 220px;
    min-width: 50px;
    border-radius: 2px;
    &:hover {
        color: var.$color_white;
    }
}

.account-facebook {
    background: #3e5c9a;
    &:hover {
        background-color: #3c578d;
    }
}

.account-google {
    background: #df4b38;
    &:hover {
        background-color: #ca4534;
    }
}

@media screen and (max-width: 576px) {
    .btn-evulus,
    .btn-evulus-medium,
    .btn-evulus-icon,
    .btn-evulus-white,
    .btn-green,
    .btn-green--normal,
    .btn-evulus-academia {
        width: 90%;
        padding-left: 5px;
        padding-right: 5px;
        margin: 0 auto;
    }
}
