@use "../1-base/variables" as var;
@use "../3-helpers/helpers" as help;

/* ---------------------- SERVICIOS --------------------- */

.container-servicios-items {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 100px;
}

.item-servicio {
    width: calc(100% / 4 - 55px);
    min-width: 248px;
    padding: 10px;
    height: 160px;
    @include help.f-center;
    flex-direction: column;
    font-size: 27px;
    line-height: 30px;
    box-shadow: var.$box-shadow-secundario;
    transition: map-get(var.$transition, fast);
    -webkit-transition: map-get(var.$transition, fast);
    -moz-transition: map-get(var.$transition, fast);
    -ms-transition: map-get(var.$transition, fast);
    -o-transition: map-get(var.$transition, fast);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: var.$color_primary;
    font-weight: 500;
    text-align: center;
    background: var.$color_white;
    &:hover {
        background: var.$color-hover;
        color: var.$color_white;
        transform: translateY(-2px);
    }
    img {
        height: 45%;
    }
}
