@use "../1-base/variables" as var;
/* ------------------- SLIDER-NOTICIAS ------------------ */
.noticias-slider {
    .item {
        width: auto;
        color: var.$color_black;
        text-align: start;
    }
    .owl-stage {
        align-items: baseline;
    }
}

.noticias-item {
    &__img {
        min-height: 223px;
        height: 223px;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    a {
        font-size: 21.74px;
        font-weight: 700;
        color: var.$color_black;
        &:hover {
            text-decoration: underline;
        }
    }
    article {
        font-size: 15.22px;
    }
}
