* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background: ;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    gap: 10px;
    overflow: hidden;
    align-items: center;
}

.weight-400 {
    font-weight: 400;
}

.weight-600 {
    font-weight: 600;
}

.parrafo {
    margin-bottom: 20px;
}

.header {
    height: 500px;
}

.img-hero {
    width: 100%;
    height: auto;
    grid-column: 7 / 14;
}

.img {
    width: 95%;
    max-width: 400px;
}

.textos-hero {
    grid-column: 1/7;
    padding-right: 20px;
}

.textos-hero p {
    text-align: justify;
}

.cta {
    width: 130px;
    background: #000;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
}


/* Header */

.services {
    height: 370px;
    background: linear-gradient(180deg, #fff 50%, #000 50%);
}

.items {
    grid-column: 1/-1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    width: 30%;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 220px;
    padding: 20px 10px;
    text-align: center;
}

[class^="far fa"] {
    font-size: 50px;
    text-align: center;
}

.titulo-service {
    margin: 20px 0;
}


/* About us */

.about-us {
    background: #000;
    color: #fff;
    height: auto;
    padding-bottom: 60px;
}

.textos-about-us {
    grid-column: 1/-1;
    text-align: center;
}

.textos-about-us .parrafo {
    color: #ccc;
    margin-top: 10px;
}

.numbers {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.number {
    text-align: center;
    font-size: 30px;
    width: 22%;
}


/* Mission */

.mission {
    padding: 80px 0;
}

.textos-mission {
    grid-column: 7/13;
    grid-row: 1/-1;
    margin-bottom: 20px;
}

.img-mission {
    grid-column: 1/7;
    grid-row: 1/-1;
}


/* Footer */

footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 60px 0;
}

.textos-footer {
    grid-column: 1/-1;
    margin-bottom: 30px;
}

[class^="footer-item"] a {
    color: #fff;
    font-size: 30px;
}


/* Todas las clases que tengas las palabras footer-item van a ser afectadas */

[class^="footer-item"] {
    grid-column: span 3;
}

@media screen and (max-width:800px) {
    .herder {
        height: auto;
    }
    .grid {
        grid-gap: 30px;
    }
    .img-hero,
    .textos-hero {
        grid-column: 1/-1;
    }
    .img-hero {
        text-align: center;
        height: auto;
    }
    .textos-hero {
        margin-top: 40px;
    }
    .services {
        height: auto;
        margin: 40px;
    }
    .item {
        width: 60%;
        margin: 40px 0;
        height: auto;
        padding: 40px;
    }
    .img-mission {
        grid-column: 1/-1;
        grid-row: 2/3;
        text-align: center;
    }
    .textos-mission {
        grid-column: 1/ -1;
        grid-row: 1/2;
        align-self: center;
    }
}