/* crea una variable que puede ser usada segun la propiedad que se ponga entre "--parametro-nombre: propiedad" */

:root {
    --overlay-color: #d78fab;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.page {
    width: 100%;
    height: 100vh;
    position: relative;
}

body {
    overflow: hidden;
    opacity: 0;
    transition: all 2s;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 400px;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    transition: 0.9s all;
}

#Home {
    z-index: 5;
    top: 0;
}

#News {
    z-index: 10;
    top: 100%;
}

#Destination {
    z-index: 15;
    top: 100%;
}

#Blog {
    z-index: 20;
    top: 100%;
}

#End {
    z-index: 25;
    top: 100%;
}

.showcase.active {
    right: 300px;
}

.menu-burger {
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .9s;
}

.menu-burger.active {
    right: 300px;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    transition: all 0.9s;
    right: 0;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(img/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url(img/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}


/* La propiedad CSS object-fit indica cómo el contenido de un elemento reemplazado, por ejemplo un <img> o <video>, debería redimensionarse para ajustarse a su contenedor. 
Fill
Contain
Cover
none
Scale-down

Se debe usar ya que quedara mal si solo usan width 100% y heigt 100%
*/

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}


/* La propiedad CSS mix-blend-mode describe cómo el contenido de un elemento debe mezclarse con el contenido del elemento que está tras él y con el fondo del elemento.
son como filtros de colo */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: hsla(199, 98%, 48%, 0.145);
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
    opacity: 1;
    transition: all 1.9s;
}

.text {
    position: relative;
    z-index: 10;
    opacity: 1;
}

.text-2.active h2 {
    opacity: 0;
    transition: all .9s;
}

.text-2.active h3 {
    opacity: 0;
    transition: all .9s;
}

.text-2.active p {
    opacity: 0;
    transition: all .9s;
}

.video-print.active {
    opacity: 0.05;
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}


/* los botones casi siempre se pone display inline-block para que se ponga en bloque  */

.text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover {
    /* font-size: 1.3em; */
    transform: scale(1.1);
    letter-spacing: 4px;
}

.social {
    position: absolute;
    bottom: 20px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}


/* 
Es mejor trabajar el tamaño de barios items con scala para que todos tengan un tamaño promedio */

.social li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.3s;
}

.social li a:hover {
    transform: scale(0.5) translateY(-15px);
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.menu ul {
    position: relative;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li a:hover {
    color: var(--overlay-color);
}


/* ------------------------ BUSCADOR ------------------------ */

.buscador {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.589);
    left: -150%;
    top: 0;
    z-index: 40;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    transition: all 0.9s;
}

.buscar_text {
    border: none;
    background: none;
    outline: none;
    font-size: 20px;
    max-width: 200px;
}

.cerrar_bus {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url(img/close.png) no-repeat !important;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    right: 10%;
    top: 10%;
    z-index: 40;
}

.icon_bus {
    width: 20px;
    height: 20px;
    background: url(img/buscador.png);
    background-size: cover;
}

.buscador>div:nth-child(1) {
    display: flex;
    padding: 9px 22px 9px 26px;
    background: white;
    border-radius: 40px;
    align-items: center;
}


/* ////////////////////////RESPONSIVE///////////////// */

@media(max-width:1200px) {
    .text h2 {
        font-size: 2.98em;
    }
    .text h3 {
        font-size: 1.98em;
    }
}

@media(max-width: 900px) {
    .showcase,
    .menu-burger {
        padding: 40px;
    }
    .text h2 {
        font-size: 3em;
    }
    .text h3 {
        font-size: 2em;
    }
}

@media(max-width: 650px) {
    .menu-burger.active {
        right: 250px !important;
    }
    .showcase.active {
        right: 250px !important;
    }
    .text h2 {
        font-size: 2.5em;
    }
    .text h3 {
        font-size: 1.5em;
    }
}

@media(max-height:500px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.8rem !important;
    }
    h3 {
        font-size: 1.4rem !important;
    }
    p {
        font-size: 1rem !important;
    }
    .social {
        flex-direction: column;
        right: 20px;
        bottom: auto;
    }
}