@use "../1-base/variables" as var;
@use "../2-mixins/breakPoints" as breakP;

/* ----------------------- MODO NOCTURNO ---------------------- */

.switch {
    background: rgba(255, 255, 255, 0.685);
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    &::after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: var.$bg-color2;
        top: 0;
        left: 0;
        right: unset;
        transition: 300ms;
        border-radius: 100%;
        box-shadow: 0px 0px 2px 2xp rgba(18, 29, 36, 0.3);
    }
    &.active-noche {
        background: rgba(0, 0, 0, 0.623);
        color: black;
        &::after {
            left: 50%;
            background: #ffffff;
        }
    }
    span {
        i {
            background: url(../svg/menu.svg);
            width: 30px;
            height: 30px;
            display: block;
        }
    }
}

body.dark {
    .cls-11 {
        fill: #040006 !important;
    }
    .btn-secundario {
        border: 2px solid var.$text-color-night;
        &:hover {
            border: 2px solid var.$color-primario;
            img {
                filter: invert(100%);
                -webkit-filter: invert(100%);
            }
        }
        img {
            width: 15px;
            -webkit-filter: invert(0%);
            filter: invert(0%);
            transition: all 0.5s;
        }
    }
    .preload {
        background: var.$bg-color-night;
    }
    .lds-facebook div {
        background: var.$nav-modal-color;
    }
    background: var.$bg-color-night;
    p,
    article,
    a,
    h1,
    h2,
    h3,
    h4,
    li {
        color: var.$text-color-night;
    }
    .navbar-down {
        background: rgb(238, 238, 238);
    }
    .header {
        .menu-btn {
            filter: invert(0%) !important;
            -webkit-filter: invert(0%) !important;
        }
        @include breakP.mediaQueriesMax(lg) {
            .nav {
                background: rgba(238, 238, 238, 0.753);
                a {
                    color: var.$color-secundario-night;
                }
            }
        }
        &::before {
            background: rgb(255, 255, 255);
        }
    }
    .main {
        background: var.$bg-color-night;
        .home__img img {
            filter: invert(0);
        }
        .about-us,
        .about-content,
        .about-image {
            background: var.$bg-color2-night;
        }
        .btn-certificado:hover {
            color: var.$color-primario;
        }
        .about-button {
            .icon {
                img {
                    filter: invert(0);
                    -webkit-filter: invert(0);
                }
            }
        }
        .link-sitio:hover {
            color: var.$color-primario;
        }
        .s-card:hover {
            background: var.$bg-color2-night;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.096);
            color: black;
        }
        .card {
            background: var.$bg-color-night;
        }
        .m-study-container::after {
            background: #afafafe8;
        }
        .progress {
            background-color: var.$bg-color2-night;
        }
        .works {
            background: var.$bg-color-night;
            .filter-item {
                border: 2px solid var.$bg-color2-night;
            }
        }
        .overlay {
            background: rgb(0, 0, 0, 56%);
            .overlay-container {
                background: var.$bg-color-night;
                .cerrar-overlay {
                    -webkit-filter: none;
                    filter: none;
                }
                .enlaces-img a:hover {
                    color: white;
                }
            }
        }
        .modal-video {
            background: rgb(0, 0, 0, 56%);
            .video-container {
                background: var.$bg-color-night;
                .cerrar-overlay-video {
                    -webkit-filter: none;
                    filter: none;
                }
            }
        }
        .contact {
            background: var.$bg-color2-night;
            .contact-redes li {
                a {
                    background: var.$bg-color2-night;
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.096);
                }
                a:active {
                    box-shadow: none;
                }
            }
            .info {
                i {
                    color: black;
                    &:hover {
                        color: var.$color-primario;
                    }
                }
            }
        }
        .footer {
            background: var.$bg-color-night;
        }
        .form {
            background: var.$color-secundario;
            .cerrar-overlay {
                filter: none;
                -webkit-filter: none;
            }
        }
        .form__data {
            input,
            textarea {
                border-bottom: 1px solid transparentize(var.$color-secundario-night, 0.7);
                color: transparentize(var.$color-secundario-night, 0.5);
            }
            input:focus,
            textarea:focus {
                border-bottom: 1px solid var.$color-secundario-night;
                color: var.$color-secundario-night;
            }
            input[type="submit"] {
                color: transparentize(var.$color-secundario-night, 0.5);
            }
        }
    }
}
