@use "../1-base/variables" as var;
@use "../2-mixins/mixins" as mixs;
@use "../2-mixins/breakPoints" as breakP;

.card-content {
    .card-points {
        margin-top: 2rem;
        height: 100%;
        font-size: var.$text-normal;
        text-align: start;
        li {
            display: flex;
            position: relative;
            margin: 1rem 0px;
            width: 100%;
            border-bottom: 1px solid var.$color-primario;
        }
    }
}

.s-card {
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: var.$color-secundario;
    img {
        margin-right: 10px;
    }
    &:hover {
        @include mixs.sombras-normal;
        margin-bottom: 0px;
        color: var.$color-secundario;
        span {
            color: var.$color-primario;
        }
    }
    @include breakP.mediaQueriesMax(xs) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        img {
            margin: 20px 0px;
        }
    }
}

.i-study {
    height: 500px;
    padding: 20px;
    img {
        margin: 0px 0px 20px 0px;
        height: 30%;
    }
}

.clearfix {
    clear: none;
}
