@use "../1-base/variables" as var;
@use "../2-mixins/breakPoints" as breakP;

/* ---------------------------- HEADER ---------------------------- */

.header {
    z-index: 1;
    width: 100%;
    height: 60px;
    transition: var.$transition-fetch;
}
/* ------------------------ NAVEGACION ------------------------ */

.nav {
    .nav-link {
        a {
            padding: 10px;
            background-image: linear-gradient(var.$color-primario, var.$color-primario);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size 0.3s;
        }
        a:hover {
            background-size: 100% 2px;
            color: rgb(51, 154, 223);
        }
    }
    @include breakP.mediaQueriesMax(lg) {
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        top: 0;
        right: -100%;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.486);
        transition: all 1s ease;
        .nav-link {
            a {
                color: var.$color-secundario;
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
    }
}

.active-link {
    background-size: 100% 2px !important;
}

// modo activo con scroll
.navbar-down {
    background: rgb(12, 18, 31);
    width: 100%;
}

// menu hamburguesa
.menu-btn {
    display: none;
    @include breakP.mediaQueriesMax(lg) {
        display: flex;
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
        background: url(../svg/menu.svg) no-repeat;
        background-size: 30px;
        background-position: center;
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
}

.nav-active {
    right: 0%;
}

.burger {
    z-index: 2;
    background: url(../svg/cancel.svg) no-repeat;
    background-size: 30px;
    background-position: center;
    transition: 0.3 ease;
}
