@use "../../1-base/variables" as var;
@use "../../2-mixins/base-buttons" as btn;
@use "../../3-helpers/helpers" as help;
@use "../../2-mixins/breakpoints" as breakP;

/* ------------------------ HOME ------------------------ */

.evulus {
    position: relative;
    min-height: 100vh;
    &__content {
        h1 {
            font-size: 30px;
            width: 110%;
            font-weight: 400;
        }
        h2 {
            font-size: 42px;
            font-weight: 800;
        }
        .btn-evulus-medium,
        .btn-green--normal {
            padding: 15px 25px;
            min-width: 220px;
            font-size: 20px;
        }
    }
    &__img {
        max-width: 624px;
        margin: 0px auto;
        img {
            transform: scale(1.1);
        }
    }
}

/* --------------------- .PREGUNTAS --------------------- */

.div-green-1,
.div-green-2 {
    width: 100%;
    height: 10px;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(0, 156, 135, 1) 20%,
        rgba(0, 145, 121, 1) 50%,
        rgba(0, 179, 160, 1) 80%,
        rgba(255, 255, 255, 1) 100%
    );
    height: 20px;
}

.div-green-1 {
    height: 6px;
}

.div-green-2 {
    height: 10px;
}

.preguntas {
    .pregunta-1,
    .pregunta-2,
    .acciones,
    .video-plataforma,
    .pregunta-3 {
        padding-top: 55px;
    }
    .pregunta-1 {
        margin-bottom: 70px;
        &__text {
            font-size: 19.58px;
            text-align: justify;
        }
    }
    .pregunta-2,
    .pregunta-3 {
        width: 90%;
        color: var.$color_primary;
        margin: 0 auto;
        .pregunta-2__content,
        .pregunta-3__content {
            h2 {
                font-size: 56px;
                font-weight: 700;
            }
            p {
                font-size: 36px;
                margin: 50px 0px 80px 0px;
            }
        }
        .pregunta-2__buttons {
            margin-top: 10px;
            margin-bottom: 80px;
        }
        .pregunta-2__img,
        .pregunta-3__img {
            img {
                display: block;
                position: relative;
                margin: 0 auto;
            }
        }
    }
    .acciones {
        text-align: center;
        border-bottom: 1px solid var.$color_primary;
        h2 {
            font-size: 36.06px;
            font-weight: 900;
            color: var.$color_primary;
        }
        p {
            font-size: 27.82px;
        }
    }
    .subtitle-green--platform {
        h3 {
            font-size: calc(15px + 1vw);
        }
    }
    .video-plataforma {
        padding-top: 62px;
        padding-bottom: 62px;
        background: url(../img/bg-video.png) no-repeat;
        background-position: center;
        background-size: cover;
        .subtitle-platform {
            color: var.$color_white;
            h3 {
                font-size: calc(20px + 2vw);
            }
            text-align: center;
        }
    }
    .pregunta-3 {
        ul {
            font-size: 32.38px;
        }
    }
}

.btn-ver {
    @include btn.btn-personalizado(transparent, 0px 30px 0px, 31.94px);
    border: 1px solid var.$color_white;
    color: var.$color_white;
    font-weight: 400;
    &:hover {
        background: var.$color_primary;
        border: 1px solid var.$color_primary;
        color: var.$color_white;
    }
}

/* --------------------- .SERVICIOS --------------------- */

.servicios {
    background: var.$color_primary;
}

/* ---------------------- NOSOTROS ---------------------- */

.nosotros {
    padding: 30px 0px 60px 0px;
    .cards-nosotros {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: center;
        .nosotros-item:nth-child(odd) {
            h3 {
                font-size: 46.8px;
            }
        }
        .nosotros-item {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 35px;
            border-radius: 20px;
            background: radial-gradient(var.$color_primary 20%, black 80%);
            min-width: 400px;
            width: calc(50% - 50px);
            color: var.$color_white;
            min-height: 529px;
            transition: map-get(var.$transition, fast);
            &:hover {
                transform: scale(1.02);
                box-shadow: var.$box-shadow-primario;
            }
            h3 {
                font-weight: 900;
                font-size: 31.94px;
                text-align: center;
            }
            p {
                font-size: 18.59px;
            }
            .social-icons {
                justify-content: center;
                li {
                    width: 35px;
                    margin: 14px;
                    img {
                        width: 100%;
                    }
                }
            }
            .nosotros-item__img {
                width: 80%;
                max-height: 55%;
                margin: 0 auto;
                img {
                    height: 100%;
                    margin: 0 auto;
                    display: block;
                }
            }
            .servicios-items--card {
                gap: 20px;
                div {
                    text-align: center;
                    @include help.f-center;
                    flex-direction: column;
                    width: 77px;
                    margin: 0 10px;
                    pointer-events: none;
                    img {
                        max-height: 54px;
                        filter: brightness(0) invert(100%);
                    }
                }
            }
        }
    }
}
