.error-404 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2 {
        color: white;
    }
    img {
        filter: invert(1);
    }
}
body.dark {
    .error-404 {
        img {
            filter: none;
        }
    }
}
