@media (max-width: 900px) {
    .home {
        padding-bottom: 90px;
        &__img {
            min-width: 210px;
        }
    }
    .card-points {
        padding: 0;
    }
    .about-us {
        .about-image {
            display: none;
        }
        .about-content {
            width: 100%;
            position: relative;
            padding: 0px 1rem;
        }
        .about-text {
            overflow-y: scroll;
            margin-bottom: 30px;
            h2 {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            img {
                display: block !important;
                width: 300px;
                float: left;
                margin-right: 15px;
            }
        }
    }
}

@media (max-height: 550px) {
    .about-us {
        height: 700px;
    }
}

@media (max-width: 530px) {
    .home__title {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .home__img {
        display: none;
    }
    .linea {
        width: 80px;
    }
    .about-us {
        .about-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                margin: 0;
                margin-bottom: 10px;
                width: 150px;
            }
            p {
                padding: 0px 1rem;
            }
        }
    }
}

@media (max-width: 1000px) {
    .grid {
        .item {
            width: calc(50% - 30px);
        }
    }
}

@media (max-width: 420px) {
    .grid {
        .item {
            width: calc(100% - 30px);
        }
    }
}
