@use "../../3-helpers/helpers" as help;
@use "../../2-mixins/base-buttons" as btn;
@use "../../1-base/variables" as var;

/* --------------------- DATOS -------------------- */

.btn-submit-wallet {
    @include btn.btn-personalizado(var.$color-btn, 12px 25px, 1.5rem);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: 0px 0px 2rem var.$color-btn;
    &:hover {
        box-shadow: 0px 0px 2.5rem var.$color-btn;
    }
    &:active {
        box-shadow: 0px 0px 3rem var.$color-btn !important;
    }
    &:focus {
        box-shadow: 0px 0px 3rem var.$color-btn !important;
    }
    text-transform: uppercase;
}

.container-valance-value {
    @include btn.btn-personalizado(var.$color_white, 0px, 1rem);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background: #808080;
    height: 80px;
    width: 281px;
    @include help.f-center;
    margin: 10px 20px;
    .valance-value {
        @include btn.btn-personalizado(var.$color_white, 0px 0px, 1rem);
        border-radius: 50px;
        width: 95%;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        height: 80%;
        @include help.f-center;
        flex-direction: column;
        box-shadow: 0px 0px 4px 0px #464646;
        font-size: 1rem;
    }
}

/* ------------------- VALUE CONTAINE ------------------- */

.form-select,
.data-value {
    width: calc(50% - 20px);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 7px solid var.$color_white;
    height: 54px;
    background: #f2f2f1;
    padding: 0rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    color: #676767;
    font-size: 1rem;
    input {
        width: 80%;
        background: transparent;
        color: inherit;
        text-align: start;
    }
}

/* -------------------- COMPONENT-DAY ------------------- */

.component-day {
    color: var.$color_white;
    display: grid;
    width: 100%;
    grid-template-columns: 78px calc(100% - 105px) 10px;
    height: 50px;
    position: relative;
    .porcentaje {
        color: var.$color_white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 7px;
    }
    .linea-mes {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        position: relative;
        .linea {
            position: absolute;
            width: 100%;
            height: 6px;
            background: var.$color_white;
            bottom: 0;
            border-radius: 4px;
            margin-bottom: 6px;
        }
        .mes {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            .container-item-mes {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                &:hover {
                    .circle {
                        opacity: 1;
                    }
                }
                .day-mes__title {
                    background: white;
                    color: black;
                    border-radius: 5px;
                    text-align: center;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 600;
                    padding: 0px 5px;
                    position: relative;
                }
                .circle {
                    position: absolute;
                    opacity: 0;
                    -webkit-appearance: none;
                    width: 25px;
                    height: 25px;
                    background: #2baae2;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    cursor: pointer;
                    outline: none;
                    box-shadow: 0 0 0 0 #2baae2;
                    transition: all 300ms;
                    -webkit-transition: all 300ms;
                    -moz-transition: all 300ms;
                    -ms-transition: all 300ms;
                    -o-transition: all 300ms;
                    position: relative;
                    z-index: 1;
                    box-shadow: 0 0 0 7px #2babe225;
                }
            }
        }
        .mes-1 {
            grid-column: 3;
        }
        .mes-2 {
            grid-column: 6;
        }
        .mes-3 {
            grid-column: 9;
        }
        .mes:last-child {
            grid-column: 12;
            transform: translateX(70%);
            .container-item-mes {
                align-items: flex-start;
            }
        }
    }
    &__items {
        display: flex;
        width: 87%;
        justify-content: space-between;
        span {
            height: 25px;
            padding: 0px 8px;
            background: var.$color_white;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            font-weight: 500;
            cursor: pointer;
        }
    }
}

/* ------------------------ component-rango----------------------- */

.next {
    width: 0;
    height: 0;
    border-left: 14px solid var.$color_white;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

.prev {
    width: 0;
    height: 0;
    border-right: 15px solid var.$color_white;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

.slider-range {
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: var.$color_white;
    gap: 10px;
    margin: 10px auto;
    .porcentaje {
        padding-bottom: 2px;
    }
    .slider {
        width: 100%;
        display: flex;
        align-items: center;
        display: grid;
        .range {
            width: 100%;
            height: 5px;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            -webkit-appearance: none;
            outline: none;
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 20px;
                height: 20px;
                background: #2baae2;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                cursor: pointer;
                outline: none;
                box-shadow: 0 0 0 0 #2baae2;
                transition: all 300ms;
                -webkit-transition: all 300ms;
                -moz-transition: all 300ms;
                -ms-transition: all 300ms;
                -o-transition: all 300ms;
                &:hover {
                    box-shadow: 0 0 0 7px #2babe225;
                }
            }
        }
    }
}

/* ----------------- .COMPONENTE-MENSUA ----------------- */

.component-mensual {
    display: flex;
    align-items: flex-end;
    color: var.$color_white;
    justify-content: space-between;
    flex-wrap: wrap;
    .meses {
        width: 80%;
        .mes-title {
            font-size: 1.3rem;
        }
        .mes__items-container {
            text-align: center;
            align-items: flex-end;
            flex-wrap: wrap;
            justify-content: center;
            .item-mes {
                width: 40px;
                margin: 2px;
                .item-mensual__value {
                    width: 100%;
                    height: 30px;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    background: transparent;
                    border: 1px solid white;
                    transition: 200ms all;
                    cursor: pointer;
                    &:hover {
                        background: var.$color-btn;
                        border: 1px solid var.$color-btn;
                        color: var.$color_black;
                    }
                    &.active {
                        background: var.$color-btn;
                        border: 1px solid var.$color-btn;
                        color: var.$color_black;
                    }
                }
            }
        }
    }
    .mensual-total {
        &__title {
            text-align: center;
            font-size: 1.3rem;
        }
        button {
            padding: 0px 20px 8px 20px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            margin: 2px;
            background: var.$color-btn;
            border: 1px solid var.$color-btn;
            color: var.$color_black;
            font-weight: 500;
            font-size: 2rem;
        }
    }
}
