@media screen and (max-width:992px) {
    .title {
        h1 {
            font-size: 4rem;
        }
        span {
            font-size: 1.5rem;
        }
    }
    .precios {
        .container-valance-value {
            margin: 0;
        }
    }
    .panel {
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    .component-mensual {
        justify-content: center;
        .meses {
            width: 100%;
            text-align: center;
            .mes__items-container .item-mes {
                width: calc(100% /6 - 4px);
                min-width: 40px;
            }
        }
    }
    .panel__stake {
        justify-content: center;
        padding: .5rem;
        .btn-evulus-medium {
            width: calc(100% / 3 - 10px);
            min-width: 80px;
            border-radius: 3px;
            font-size: 1rem;
            padding: 3px 0px 5px 0px;
            margin: 5px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            font-weight: 500;
            text-transform: uppercase;
        }
        .btn-evulus-medium:nth-child(4) {
            min-width: 140px;
        }
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

@media screen and (max-width:767px) {
    .title {
        h1 {
            font-size: 40px;
            font-weight: 700;
        }
        span {
            font-size: 1rem;
        }
    }
    .precios {
        overflow: hidden;
        box-shadow: 0px 0px 0px 7px grey;
        height: 40px;
        .container-valance-value,
        .valance-value {
            margin: 0;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            background: $color-secundario;
            box-shadow: none;
            height: 100%;
        }
        .valance-value {
            border: 1px solid grey;
            width: 100%;
            font-size: .8rem;
            span {
                font-weight: 400;
            }
        }
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    .panel__valance {
        gap: 0;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        overflow: hidden;
        box-shadow: 0px 0px 0px 7px #809894;
        .valance-item {
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            -ms-border-radius: 0px;
            -o-border-radius: 0px;
            font-size: .6rem;
            font-weight: 500;
            border: 1px solid #809894;
            &__title {
                font-size: .6rem;
            }
            &__total {
                font-size: 8px;
            }
        }
    }
    .panel__table {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        table {
            thead {
                font-size: .8rem;
                background: rgb(0, 0, 0);
                background: linear-gradient(260deg, rgba(0, 0, 0, 1) 0%, rgba(7, 129, 109, 1) 97%);
                text-transform: uppercase;
                .th-time {
                    flex-direction: column;
                    justify-content: space-evenly;
                    div:last-child {
                        border-top: 1px solid $color-secundario;
                    }
                }
            }
            tbody {
                font-size: .5rem;
                td {
                    border: 1px solid #d9d9d9;
                }
            }
            thead,
            tbody {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width:575px) {
    .component-day .linea-mes {
        .mes .container-item-mes .day-mes__title {
            font-size: 12px;
        }
        .mes-1 {
            grid-column: 1;
        }
        .mes-2 {
            grid-column: 4;
        }
        .mes-3 {
            grid-column: 8;
        }
        .mes:last-child {
            grid-column: 12;
            transform: translateX(0%);
            .container-item-mes {
                align-items: flex-end;
            }
        }
    }
    .title {
        h1 {
            font-size: 35px;
            font-weight: 700;
        }
        span {
            font-size: .7rem;
        }
    }
    .btn-submit-wallet {
        width: 180px;
        font-size: 1rem;
        padding: 6px 0px;
    }
    .form-select,
    .data-value {
        font-weight: 300;
        input {
            font-weight: 300;
        }
    }
    .panel {
        overflow: visible;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        background: transparent;
        box-shadow: none;
        padding: 0;
        margin: 0;
        &__cuenta {
            flex-wrap: wrap;
            .form-select,
            .data-value {
                width: 100%;
            }
            .form-select {
                margin-bottom: 30px;
            }
        }
        &__day {
            .component-day .day-mes__items span {
                border-radius: 30px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                -ms-border-radius: 30px;
                -o-border-radius: 30px;
                background: $color-btn;
                font-size: .8rem;
                height: auto;
                padding: 0px 10px;
            }
        }
        &__mes {
            order: 4;
            .component-mensual {
                .meses .mes-title {
                    font-size: 1rem;
                }
                .mensual-total {
                    margin: 10px 0px;
                    display: flex;
                    flex-direction: column-reverse;
                    .mensual-total__title {
                        font-size: 1rem;
                    }
                    button {
                        font-size: 1.8rem;
                        height: 40px;
                        width: 120px;
                        padding: 0px 20px 7px 20px;
                        @include f-center
                    }
                }
            }
        }
        &__stake {
            order: 3;
        }
        &__table {
            margin: 10px 0px;
            table {
                thead {
                    font-size: .5rem;
                }
                tbody {
                    font-size: .43rem;
                }
            }
        }
    }
    .footer {
        p {
            font-size: .6rem;
        }
    }
}

@media screen and (max-width:400px) {
    .component-day .linea-mes {
        .mes .container-item-mes .day-mes__title {
            font-size: 10px;
        }
        .mes:last-child {
            .container-item-mes {
                align-items: center;
            }
        }
    }
    .panel__day {
        padding: .5rem;
        .component-day .day-mes__items span {
            height: 18px;
            width: 40px;
            padding: 0;
            text-align: center;
            font-size: .7rem;
        }
    }
    .component-day .day-mes__items span {
        height: 20px;
        width: 40px;
        padding: 0;
        text-align: center;
        font-size: .7rem;
    }
    .slider-range {
        gap: 5px;
    }
    .btn-evulus-white,
    .btn-evulus-icon {
        width: 95%;
    }
    .requisitos .participacion {
        width: 95%;
    }
}