    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background: #fff;
        width: 100%;
        height: 1200px;
    }
    /* //////////////////////////////Header /////////////////////////////////////////////////////////// */
    
    .navegacion {
        display: flex;
        width: 100%;
        height: 80px;
        justify-content: space-between;
        padding: 0px 7%;
        align-items: center;
        position: fixed;
        background-color: transparent;
        z-index: 2;
    }
    
    .navbar-down {
        background: #f52235;
    }
    
    .toggle {
        display: none;
        width: 30px;
        height: 30px;
        background: url(svg/burguer.svg);
        background-size: cover;
        filter: invert(100%);
    }
    
    .toggle.active {
        background: url(svg/close.png);
        background-size: cover;
        filter: invert(0%);
    }
    
    .logo {
        font-size: 30px;
    }
    
    .logo>a {
        color: #fff;
        text-decoration: none;
        font-size: 30px;
    }
    
    li a {
        color: #fff;
        text-decoration: none;
        padding: 29px;
        font-size: 20px;
    }
    
    li a:hover {
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    }
    
    li {
        list-style: none;
    }
    /* ///////////////////////////Main /////////////////////////// */
    /* --------------------- SLIDERS -------------------- */
    
    .contenedor {
        width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 1;
        min-height: 700px;
        height: 100vh;
        background-image: url(svg/bgDulce.svg);
        background-position: 0%;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all .4s;
    }
    
    .slider-contenedor {
        display: flex;
        width: 100%;
        height: 100%;
    }
    
    .contenido-slider {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-shrink: 0;
        padding: 7%;
        overflow: hidden;
    }
    
    .contenido-slider>img {
        width: 50%;
    }
    
    .contenido-slider .texto {
        color: white;
        display: flex;
        justify-content: space-evenly;
        height: 500px;
        flex-direction: column;
    }
    
    .contenido-slider h1 {
        font-size: 4rem;
        color: #ffffff;
    }
    
    .boton2 {
        justify-content: flex-end;
        display: flex;
        align-content: center;
        margin-top: 20px;
        z-index: 1;
        align-self: center;
    }
    
    .boton2 a {
        align-content: center;
        text-align: center;
        font-size: 20px;
        color: #ffff;
        padding: 17px 0;
        border-radius: 50px;
        text-decoration: none;
        width: 207px;
        height: 65px;
        box-shadow: -2px 4px 5px rgba(0, 0, 0, 0.25);
    }
    
    .boton2 a:active {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
    /* --------------------- CUERPO --------------------- */
    
    .medio {
        display: flex;
        justify-items: center;
        margin-top: 20px;
        margin-bottom: 100px;
    }
    
    .medio section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .medio h2 {
        font-size: 44px;
        text-align: center;
        line-height: 40px;
        margin: 50px 50px 12px 50px;
    }
    
    .medio p {
        width: 500px;
        padding: 0px 7%;
        text-align: center;
    }
    
    .medio>img {
        width: 50%;
        height: 50%;
    }
    
    .linea {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    .linea>div {
        width: 90%;
        background-color: black;
        height: 1px;
    }
    
    .segundo {
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
    
    .boton {
        color: black;
        text-decoration: none;
        padding-top: 12px;
        width: 200px;
        height: 50px;
        border: 1px solid rgb(0, 0, 0);
        margin-top: 35px;
        text-align: center;
        border-radius: 30px;
    }
    /* //////////////////////////////////////////Footer/////////////////////////////////////////  */
    
    footer::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(svg/bgDulce.svg);
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(180deg);
    }
    
    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        position: relative;
        min-height: 800px;
        overflow: hidden;
    }
    
    video {
        width: 900px;
        align-self: center;
        border-radius: 5px;
        z-index: 1;
    }
    
    footer>ul {
        display: flex;
        justify-content: center;
    }
    
    footer>ul>a>img {
        width: 40px;
        height: 40px;
        margin: 0px 30px;
    }
    
    footer h3 {
        display: flex;
        justify-content: center;
        font-size: 20px;
        color: white;
        z-index: 1;
    }
    /* /////////////////////////////////////////////////////////////////////// */
    
    @media screen and (max-width:900px) {
        .toggle {
            display: block;
        }
        .medio {
            flex-direction: column-reverse;
            justify-content: center;
        }
        .menu {
            position: absolute;
            top: -500%;
            left: 0;
            width: 100%;
            flex-direction: column;
            display: flex;
            transition: all 500ms;
            background: #f52235;
            box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.596);
        }
        li a {
            padding: 1rem;
        }
        .menu.active {
            top: 0;
        }
        .segundo {
            flex-direction: column;
        }
        .medio img {
            align-self: center;
        }
        video {
            width: 80%;
        }
        .contenido-slider {
            flex-direction: column;
            padding: 60px 40px 40px 40px;
        }
        .contenido-slider:nth-child(2) {
            flex-direction: column-reverse;
        }
        .contenedor img {
            max-width: 250px;
        }
    }
    /* ////////////////////////////////////////////////////////////////////// */
    
    @media screen and (max-width:600px) {
        .medio section p {
            width: 100%;
        }
        .contenido-slider .texto h1 {
            font-size: 2rem;
        }
        .contenido-slider .texto p {
            font-size: 1rem;
        }
        .contenedor img {
            min-width: 200px;
        }
        footer {
            min-height: 600px;
        }
    }