* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

video,
picture,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
}

input {
    outline: none;
}

a {
    text-decoration: none;
    color: $color-secundario;
    &:hover {
        text-decoration: none;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'GalanoGrotesque';
}

.body-calc {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(5, 99, 84, 1) 100%);
}

.body-home {
    background: $color-secundario;
}

.body-staking {
    background: linear-gradient(122deg, #000000 39.92%, #07836F 87.77%), #FFFFFF;
    main {
        p,
        li,
        h1,
        h2,
        h3,
        h4,
        h5 {
            color: $color-secundario;
        }
    }
}

.row {
    margin: 0;
}

::-webkit-scrollbar {
    background: transparent;
    width: 3px;
    height: 6px;
}

 ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.124);
    border: solid rgba(88, 88, 88, 0.323) 2px;
    border-radius: 5px;
}