@font-face {
    font-family: 'GalanoGrotesque';
    src: url(../fonts/Galano-Grotesque-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'GalanoGrotesque';
    src: url(../fonts/Galano-Grotesque.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'GalanoGrotesque';
    src: url(../fonts/Galano-Grotesque-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'GalanoGrotesque';
    src: url(../fonts/GalanoGrotesqueSemiBold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'GalanoGrotesque';
    src: url(../fonts/GalanoGrotesque-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'GalanoGrotesque';
    src: url(../fonts/GalanoGrotesqueExtraBold.ttf) format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'GalanoGrotesque';
    src: url(../fonts/Galano-Grotesque-Heavy.ttf) format('truetype');
    font-weight: 900;
}