/* ----------------------- COLORS ----------------------- */
$color_primary: #08907a;
$color-primary-dark: #067260;
$color_secundary: #daeeeb;
$color_black: #000;
$color_white: white;
$color_gray: #9b9b9b;
$color-grey-claro: #cdcccf;
$color-btn: #ffbe1b;
$color-green-ligh: #32d9af;
$bg-color: #c1e3de;
$bg-color-claro: #b1e3de;
$bg-color-ultra-claro: #dff0ee;
$color-hover: #091c3e;

/* --------------------- BOX-SHADOWS -------------------- */

$box-shadow-terciario: rgb(0 0 0 / 20%) 0px 2px 14px -6px;
$box-shadow-hover: 0px 0px 10px 3px $color-grey-claro;
$nav-box-shadow: 0px 2px 5px 0px $color-grey-claro;
$box-shadow-primario: 0px 15px 20px 2px #a8a8a89c;
$box-shadow-secundario: 0px 0.5rem 1rem rgba(0, 0, 0, 0.418);
$box-shadow_normal: 0px 0px 12px 6px transparentize($color_gray, 0.5);

$transition: (
    slow: all 900ms,
    medium: all 600ms,
    fast: all 300ms,
);
