#contact {
    padding: $padding-conteiner;
    background: $bg-color;
    min-height: 100vh;
}

.contact-title {
    margin-bottom: 2rem;
}

.contact-content {
    position: relative;
    .contact-redes {
        width: 100%;
        color: $color-secundario;
        ul {
            display: flex;
            width: 100%;
            justify-content: space-around;
            li {
                a {
                    padding: 2rem;
                    transition: all 300ms;
                    min-height: 200px;
                    min-height: 250px;
                    min-width: 300px;
                    @include f-center;
                    flex-direction: column;
                    @include sombras-normal;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                a:active {
                    box-shadow: none;
                    color: $color-secundario;
                }
            }
        }
    }
}

.icon-redes {
    width: 80px;
    margin: 10px;
}

.info {
    color: $color-secundario;
    @include f-center;
    flex-direction: column;
}

.info-icon {
    opacity: .7;
    transition: all 300ms;
    margin-top: 10px;
    padding: 0px 20px 20px 0px;
    width: 100%;
    @include f-center;
    &:hover {
        opacity: 1;
    }
    a {
        i {
            font-size: 1.5rem;
            padding: 0px 5px 0px 5px;
            border-radius: 4px;
            transition: all 300ms;
        }
        i:hover {
            color: $color-secundario;
            color: $color-primario;
        }
    }
}

#footer {
    color: $color-secundario;
    background: $bg-color2;
    text-align: center;
    padding-top: 10px;
    @include f-center;
}

@media (max-width:900px) {
    .contact-redes {
        ul {
            flex-direction: column;
            padding: 0;
            li {
                a {
                    min-width: auto;
                }
            }
        }
    }
}

@media (max-width:600px) {
    .contact-redes {
        ul {
            flex-direction: column;
            padding: 0;
            align-items: center !important;
            li {
                a {
                    min-width: 250px !important;
                }
            }
        }
    }
}