.linea {
    width: 120px;
    height: 1px;
    display: inline-block;
    background: $color-primario;
    margin: 4px 10px;
}


/* --------------------------- ABOUT-US --------------------------- */

#about-us {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    transition: all 500ms;
    background: $bg-color;
    .about-image {
        height: 100%;
        width: 35%;
        margin-left: 4rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
            height: 80%;
            position: absolute;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    .about-content {
        background: $bg-color;
        color: $color-secundario;
        height: 100%;
        position: absolute;
        border: none;
        width: 65%;
        right: 0;
        padding: 0px 4rem 0px 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .about-text {
            font-size: $text-normal;
            margin-top: 2rem;
            img {
                display: none;
            }
        }
        .about-button {
            display: flex;
            padding-bottom: 1rem;
            justify-content: space-between;
            align-items: center;
            .icon {
                height: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                img {
                    filter: invert(100%);
                    align-self: center;
                    height: 100%;
                }
                .tooltip-personal {
                    background: white;
                    color: black;
                    padding: 5px 20px;
                    border-radius: 4px;
                    position: absolute;
                    top: 0;
                    z-index: 1;
                    font-weight: bolder;
                    top: -7px;
                    transform: translateY(-100%);
                    -webkit-transform: translateY(-100%);
                    -moz-transform: translateY(-100%);
                    -ms-transform: translateY(-100%);
                    -o-transform: translateY(-100%);
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;
                    opacity: 0;
                    transition: all .3s;
                    -webkit-transition: all .3s;
                    -moz-transition: all .3s;
                    -ms-transition: all .3s;
                    -o-transition: all .3s;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        background: inherit;
                        bottom: -4px;
                        left: 50%;
                        transform: translateX(-50%) rotate(45deg);
                        -webkit-transform: translateX(-50%) rotate(45deg);
                        -moz-transform: translateX(-50%) rotate(45deg);
                        -ms-transform: translateX(-50%) rotate(45deg);
                        -o-transform: translateX(-50%) rotate(45deg);
                    }
                }
                &:hover .tooltip-personal {
                    opacity: 1;
                }
            }
        }
    }
}

@media (max-width:1200px) {
    #about-us {
        .about-image {
            width: 40%;
        }
        .about-content {
            width: 60%;
        }
    }
}

@media (max-width:900px) {
    .card-points {
        padding: 0;
    }
    #about-us {
        .about-image {
            display: none;
        }
        .about-content {
            width: 100%;
            position: relative;
            padding: 0px 3rem;
        }
        .about-text {
            overflow-y: scroll;
            margin-bottom: 30px;
            h2 {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            img {
                display: block !important;
                width: 300px;
                float: left;
                margin-right: 15px;
            }
        }
    }
}

@media (max-height:550px) {
    #about-us {
        height: 700px;
    }
}

@media (max-width:530px) {
    .linea {
        width: 80px;
    }
    #about-us {
        .about-content {
            padding: 4rem;
        }
        .about-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                margin: 0;
                margin-bottom: 10px;
                width: 150px;
            }
        }
    }
}


/* ----------------------------- STUDY ---------------------------- */

#study {
    padding: $padding-conteiner;
    overflow: hidden;
}

.container-timeline {
    padding: 5rem 0px 0px 0px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    ul {
        li {
            border-radius: 10px;
            margin-bottom: 20px;
            user-select: none;
        }
    }
}

.card {
    background: $bg-color2;
    color: $color-secundario;
    transition: all 300ms;
    border: none;
}

.s-card {
    display: flex;
    flex-direction: row;
    padding: 10px;
    img {
        margin-right: 10px;
    }
}

.s-card:hover {
    @include sombras-normal;
    margin-bottom: 0px;
    transform: scale(1.01);
}

.individual-cards {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* ----------------------- SKILLS ----------------------- */

#skills {
    padding: $padding-conteiner;
    overflow: hidden;
}

.i-study {
    height: 500px;
    padding: 20px;
    img {
        margin: 0px 0px 20px 0px;
        height: 30%;
    }
}

.card-content {
    .card-points {
        margin-top: 2rem;
        height: 100%;
        font-size: $text-normal;
        text-align: start;
        li {
            display: flex;
            position: relative;
            margin: 1rem 0px;
            width: 100%;
            border-bottom: 1px solid $color-primario;
        }
    }
}

.progress {
    width: 75%;
    background-color: $bg-color;
    right: 0;
    position: absolute;
    height: 50%;
    border-radius: 20px;
    .progress-bar {
        background: $color-primario;
        border-radius: 20px;
        transition: all 300ms;
    }
}

@media only screen and (min-width:768px) {
    .timeline::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 2px;
        right: 49.8%;
        background-color: $color-primario;
    }
    .timeline ul li {
        width: 50%;
        margin-bottom: 50px;
        position: relative;
        &:nth-child(odd) {
            float: left;
            clear: right;
            transform: translateX(-29px);
        }
        &:nth-child(even) {
            float: right;
            clear: left;
            transform: translateX(30px);
        }
        &::after {
            content: "";
            position: absolute;
            height: 20px;
            width: 20px;
            background: $color-primario;
            border-radius: 50%;
            top: 0;
            transition: all 300ms;
        }
        &:nth-child(odd)::after {
            transform: translate(50%, -50%);
            right: -30px;
        }
        &:nth-child(even)::after {
            transform: translate(-50%, 50%);
            left: -30px;
        }
        &:hover::after {
            box-shadow: 0px 0px 10px $color-primario;
        }
    }
}

.clearfix {
    clear: none;
}

@media (max-width:480px) {
    .s-card {
        flex-direction: column;
        align-items: center;
        img {
            margin: 20px 0px;
        }
    }
}


/* -------------------------- PORTAFOLIO -------------------------- */

#works {
    background: $bg-color2;
    padding: $padding-conteiner;
    overflow: hidden;
    min-height: 1200px;
}

.works-title {
    color: $color-secundario;
    .works-category {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                padding: 2px 10px;
                border: 2px solid $color-secundario;
                margin: 5px 5px;
                transition: all 300ms;
                cursor: pointer;
            }
            li:hover {
                background: $color-primario;
            }
        }
    }
}

.active-filter {
    background: $color-primario;
}

.img-cargadas {
    opacity: 1 !important;
}

.grid {
    position: relative;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s linear 1s;
    .item {
        position: absolute;
        display: block;
        width: calc(33.33% - 20px);
        max-height: 350px - 20px;
        transition: all 1s;
        margin: 10px;
        overflow: hidden;
        .item-content {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                -o-object-position: center;
                object-position: center;
                transition: all 300ms;
                &:hover {
                    transform: scale(1.1);
                }
            }
            video {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                -o-object-position: center;
                object-position: center;
                transition: all 300ms;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

@media (max-width:1000px) {
    .grid {
        .item {
            width: calc(50% - 20px);
        }
    }
}

@media (max-width:600px) {
    .grid {
        .item {
            width: calc(100% - 20px);
        }
    }
    .progress {
        width: 50%;
    }
}