:root {
    --header-height: 3rem;
    --nav-width: 324px;
    /* ====== Font wight ======== */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /* ====== Colors ======== */
    --first-color: #2236a7;
    --first-color-dark: #15226e;
    --first-color-darken: #15176a;
    --text-color: #4870be;
    --first-color-light: #eae7e6;
    --first-color-lighten: #fffafa;
    /* =======Font size========= */
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /* =======Margenes======== */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    /* ====== Z index====== */
    --z-fixed: 100;
}

@media screen and (min-width: 700px) {
     :root {
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/* ========= BASE ========= */

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height)0 0 0;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
}

h3 {
    font-weight: var(--font-semi-bold);
}

a {
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


/* ========== Class CSS ========= */

.section {
    padding: 4rem 0 2rem;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
    text-align: center;
}

.section-subtitle {
    display: block;
    font-size: var(--small-font-size);
    color: var(--first-color-darken);
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: .25rem;
}


/* ============= LAYOUT ============= */

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100%-2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: var(--first-color-lighten);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}


/* ============ NAV ============ */

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    background: var(--first-color);
    transition: 0.5s;
}

.nav_close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--first-color-dark);
    cursor: pointer;
}

.nav_item {
    font-size: 1rem;
    text-transform: uppercase;
    /* color: var(--first-color-lighten); */
    font-weight: var(--font-bold);
    transition: .3s;
    margin-bottom: var(--mb-4);
}

.nav_link {
    color: var(--first-color-lighten);
}

.nav_link:hover {
    color: var(--text-color);
}

.nav_toggle {
    color: var(--first-color-dark);
    font-size: 1.3rem;
    cursor: pointer;
}


/* =========== Show Menu =========== */

.show {
    left: 0;
}


/* ===== Active menu ====== */

.active {
    color: var(--text-color);
}


/* ======= HOME ======== */

.home_container {
    height: calc(100vh - var(--header-height));
    align-items: center;
}

.home_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
}

.home_img {
    padding-top: 1.3rem;
    padding-left: .8rem;
    width: 160px;
    height: 160px;
    background: var(--first-color);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: var(--mb-2);
}

.home_img img {
    width: 155px;
}

.home_title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}

.home_profession {
    font-size: var(--small-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-5);
}

.home_social {
    margin-bottom: 5rem;
}

.home_social-link {
    display: inline-block;
    background: var(--first-color);
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .20rem .40rem;
    margin: 0 var(--mb-1);
}

.home_social-link:hover {
    background: var(--first-color-dark);
}

.home_button {
    width: 100%;
}


/* ===== button ====== */

.button {
    display: inline-block;
    background: var(--first-color);
    color: var(--first-color-lighten);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    border-radius: .5rem;
    transition: .3s;
}

.button:hover {
    background: var(--first-color-dark);
}

.button_light {
    background: var(--first-color-lighten);
    color: var(--first-color);
}

.button_light:hover {
    color: var(--first-color-lighten);
}


/* ====== ABOUT ====== */

.about_container {
    row-gap: 2rem;
}

.about_data {
    text-align: center;
}

.about_description {
    margin-bottom: var(--mb-4);
}

.about_img {
    width: 150px;
    border-radius: .5rem;
    margin: 0 auto;
}

.about_information {
    margin-bottom: var(--mb-4);
}

.about_information-title {
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}

.about_information-data {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    margin-bottom: var(--mb-3);
}

.about_information-icon {
    font-size: 1.5rem;
    color: var(--first-color);
    margin-right: var(--mb-4);
}

.about_information-subtitle {
    display: block;
    font-weight: var(--font-semi-bold);
}

.about_information-subtitle-small {
    font-size: var(--small-font-size);
}


/* ====== SKILLS ======== */

.skills_container {
    row-gap: 2rem;
}

.skills_subtitle {
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}

.skills_data {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 var(--mb-2);
    margin-bottom: var(--mb-4);
}

.skills_name {
    text-transform: uppercase;
}

.skills_bar {
    position: absolute;
    bottom: -.75rem;
    height: .25rem;
    background: var(--first-color);
}

.skills_html {
    width: 80%;
}

.skills_js {
    width: 30%;
}

.skills_sistema {
    width: 80%;
}

.skills_particion {
    width: 100%;
}

.skills_recuperacion {
    width: 80%;
}


/* ======== EDUCACION ======== */

.education_container {
    row-gap: 2rem;
}

.education_content {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

.education_year,
.education_race {
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}

.education_univerity {
    display: block;
    font-size: var(--small-font-size);
}

.education_year,
.education_univerity {
    text-align: right;
}

.education_time {
    padding: 0 1rem;
    justify-self: center;
}

.education_rounder {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: var(--first-color);
    border-radius: 50%;
}

.education_rounder::before {
    content: '';
    position: absolute;
    transform: translate(-5px, -5px);
    width: 20px;
    height: 20px;
    border: 1px solid var(--first-color);
    border-radius: 50%;
}

.education_line {
    display: block;
    height: 90%;
    width: 2px;
    background: var(--first-color);
    transform: translate(5px, -4px);
}


/* ========= SERVICES ===== */

.services_container {
    row-gap: 2rem;
}

.services_content {
    padding: 1.5rem .5rem;
    border: 2px solid var(--first-color);
    border-radius: .5rem;
    text-align: center;
}

.services_icon {
    font-size: 2rem;
    padding: .5rem;
    background: var(--first-color);
    color: var(--first-color-lighten);
    border-radius: 50%;
    margin-bottom: var(--mb-2);
}

.services_title {
    font-size: 1.25rem;
    color: var(--first-color-dark);
    margin-bottom: var(--mb-1);
}

.services_content,
.services_icon,
.services_description,
.services_title {
    transition: .5s;
}

.services_content:hover {
    background: var(--first-color);
}

.services_content:hover .services_icon {
    background: var(--first-color-lighten);
    color: var(--first-color);
}

.services_content:hover .services_title {
    color: var(--first-color-lighten);
}

.services_content:hover .services_description {
    color: var(--first-color-lighten);
}


/* ========= PROJECT IN MIND ========= */

.project {
    background: var(--first-color);
    padding-bottom: 0;
}

.project_container {
    row-gap: 2rem;
}

.project_data {
    text-align: center;
}

.project_title,
.project_description {
    color: var(--first-color-lighten);
}

.project_description {
    margin-bottom: var(--mb-4);
}

.project_img {
    width: 220px;
    justify-self: center;
}


/* ======= WORKS ========= */

.works_container {
    justify-items: center;
    row-gap: 2rem;
}

.works_img {
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
}

.works_data {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(72, 111, 190, 0.7);
    border-radius: .5rem;
    transition: .3s;
}

.works_link {
    display: flex;
    font-size: 1.5rem;
    background: var(--first-color-lighten);
    color: var(--first-color);
    padding: .24rem;
    margin-bottom: var(--mb-2);
    border-radius: .25rem;
}

.works_title {
    font-size: var(--h2-font-size);
    color: var(--first-color-lighten);
}

.works_img:hover .works_data {
    bottom: 0;
}


/* ====Contact======= */

.contact_container {
    row-gap: 3rem;
}

.contact_input {
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    background: var(--first-color-light);
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-2);
    border-radius: .5rem;
}

.contact ::placeholder {
    color: var(--first-color-dark);
    font-weight: var(--font-medium);
}

.contact_button {
    outline: none;
    border: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
}

.contact_info {
    margin-bottom: var(--mb-3);
}

.contact_subtitle {
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-1);
}

.contact_text {
    display: block;
    padding-left: 1rem;
}


/* ======= FOOTER ========= */

.footer {
    background: var(--first-color-darken);
    color: var(--first-color-lighten);
    text-align: center;
}

.footer_title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-2);
}

.footer_descriptio {
    margin-bottom: var(--mb-2);
}

.footer_social {
    margin-bottom: 3rem;
}

.footer_link {
    display: inline-block;
    background: var(--first-color);
    color: var(--first-color-lighten);
    font-size: 2rem;
    border-radius: 50%;
    padding: 0 var(--mb-1);
    transform: .3s;
}

.footer_link:hover {
    background: var(--first-color-lighten);
    color: var(--first-color);
}

.footer_copy {
    font-size: var(--small-font-size);
    color: var(--text-color);
}


/* ======= MEDIA QUERIES ========= */

@media screen and (min-width: 768px) {
    .home_button {
        width: initial;
    }
    .nav_menu {
        width: var(--nav-width)
    }
    .about_container,
    .skills_container,
    .services_container,
    .works_container,
    .contact_container,
    .contact_input {
        grid-template-columns: repeat(2, 1fr);
    }
    .about_data {
        text-align: initial;
    }
    .about_description {
        margin-bottom: var(--mb-5);
    }
    .about_img {
        width: 220px;
    }
    .about_information {
        padding-left: 4rem;
    }
    .education_time {
        padding: 0 2rem;
    }
    .project {
        background: none;
    }
    .project_container {
        background: var(--first-color);
        grid-template-columns: 2fr 1.2fr;
        padding: 0 2rem;
        border-radius: .5rem;
    }
    .project_data {
        padding: 3rem 0;
    }
    .project_title,
    .project_data {
        text-align: initial;
    }
    .project_img {
        width: 230px;
        align-self: flex-end;
    }
    .contact_input {
        display: grid;
        column-gap: 1.5rem;
    }
    .contact_info {
        padding-left: 3rem;
    }
    .footer {
        background: none;
    }
    .footer_Container {
        background: var(--first-color-darken);
        padding-left: 3rem 0;
        border-radius: .5rem;
    }
    .footer_social {
        padding: 1.2rem;
    }
}

@media screen and (min-width: 1024px) {
    body {
        padding-left: var(--nav-width);
    }
    .l-header {
        width: 0;
    }
    .nav_toggle,
    .nav_logo,
    .nav_close {
        display: none;
    }
    .nav_menu {
        left: 0;
    }
    .home_container {
        height: 100vh;
    }
    .section {
        padding: 3rem 1rem 2rem;
    }
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
    .services_container,
    .works_container {
        grid-template-columns: repeat(3, 1fr);
    }
}