/* ----------------------- Helpers ----------------------- */

@mixin f-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin f-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin transform-center-X {
    right: 50%;
    transform: translateX(-50%);
}

@mixin transform-center-Y {
    top: 50%;
    transform: translateX(-50%);
}