* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scrollbar-width: auto;
    scrollbar-color: $color-primario transparent
}

::-webkit-scrollbar {
    background: transparent;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: $color-primario;
    border-radius: 40px;
}

body {
    font-family: 'Raleway', sans-serif;
    background: $bg-color2;
    scroll-behavior: smooth;
    ;
}

a {
    text-decoration: none;
    font-size: $font-size-navbar;
    text-transform: uppercase;
    color: $color-secundario;
    transition: all 300ms;
    &:hover {
        color: $color-primario;
    }
}

ul {
    padding: 0!important;
}

h1 {
    font-size: $font-size-h1;
    font-weight: 700;
    color: white;
}

h2 {
    font-size: $font-size-h2;
    font-weight: 700;
    color: white;
}

h3 {
    font-size: $font-size-h3;
    font-weight: 700;
    color: white;
}

h4 {
    font-size: $font-size-h4;
    font-weight: 700;
    color: white;
}