.btn-primario {
    @include btn-principal;
}

.btn-secundario {
    @include btn-secundario;
    img {
        width: 15px;
        -webkit-filter: invert(100%);
        filter: invert(100%);
        transition: all .5s;
    }
}

@media screen and(max-width:370px) {
    .btn-primario,
    .btn-secundario {
        padding: 10px 25px;
    }
}