/* ---------------------------- SOMBRAS --------------------------- */

@mixin sombras-normal {
    border-radius: 3px;
    border: 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.623);
    margin-bottom: 30px;
}

@mixin f-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin btn-principal {
    font-weight: 500;
    display: inline-block;
    border-radius: 4px;
    transition: 0.5s;
    border: 2px solid $color-primario;
    padding: 10px 35px;
    margin: 10px 7px 10px 0px;
    color: $color-secundario;
    background: $color-primario;

    &:hover {
        background: transparent;
        border: 2px solid $color-secundario;
    }
}

@mixin btn-secundario {
    font-weight: 500;
    display: inline-block;
    border-radius: 4px;
    transition: 0.5s;
    padding: 10px 35px;
    margin: 10px 7px 10px 0px;
    border: 2px solid $color-secundario;

    &:hover {
        background: $color-primario;
        border: 2px solid $color-primario;
        color: $color-secundario;
    }
}
